body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-size: 10pt;
	font-family: "Verdana", "Lucida Grande", sans-serif;
}

.header_bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;

	box-sizing: border-box;
	background: white;
	z-index: 1000;
}

.header_bar #user {
	float: right;
	padding: 10px;
}

.header_bar #logo {
	background-image: url('/_turbofile/logo.png');
	background-size: auto 35px;
	background-repeat: no-repeat;
	background-position: center;
	width: 233px;
	height: 38px;
}

.panel {
	position: absolute;
	height: 100%;
	top: 0;

	/* Avoid transparent panels blocking clicks */
	width: 0;

	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.panel_inner {
	position: relative;
	height: 100%;
	top: 0;
	left: 0;
	width: 250px;

	box-sizing: border-box;
	padding-top: 40px;

	background: white;

	overflow-x: hidden;
	overflow-y: auto;

	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.panel_inner.panel_file {
	width: 850px;
}


.panel .header {
	display: block;
	padding: 2px 10px;
	font-size:20pt;
	text-decoration: none;
	font-weight: bold;

	height: 40px;
	box-sizing: border-box;
	overflow: hidden;
}

.panel a.file {
	display: block;
	padding: 2px 0px;
	text-decoration: none;
	font-weight: bold;
}

.panel a.file .icon {
	margin: 0 5px;
}

.panel a.file.selected {
	background: blue;
	color: white;
}

.textview {
	white-space:pre-wrap;
	font-family: monospace;
}

.fileview {
	width: 100%;
	height: calc(100% - 40px);
	box-sizing: border-box;

	padding: 10px;

	text-align: center;
}

.fileview.file_text {
	text-align: left;
	margin: 0;
}

.fileview .odtview {
	padding: 5px;
	text-align: justify;
	background-color: #fff;
	color: #000;
}

.fileview img, .fileview video, .fileview iframe {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.fileview iframe {
	width: 100%;
	height: 100%;
}

.h100 {
	height: 100%;
}